@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: hsl(233, 47%, 7%);
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 90%;
  max-width: 112rem;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: hsl(244, 38%, 16%);
  border-radius: 1.5rem;
}

.card__imagen {
  background-color: hsl(277, 64%, 61%);
  border-radius: 1.5rem 1.5rem 0 0;
}
.card__imagen img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 75%;
  mix-blend-mode: multiply;
}
.card__imagen--mobile {
  display: block;
}

.card__imagen--desktop {
  display: none;
}

.card__informacion {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2.2rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

.card__titulo {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0;
}

.card__titulo--principal {
  color: hsl(277, 64%, 61%);
}

.card__resumen {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 2.2rem;
  font-size: 1.5rem;
  padding: 1rem 0;
  margin: 0;
}

.card__estadistica {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  flex-grow: 1;
  gap: 1rem;
}

.card__atributo {
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex: 1;
}

.card__cantidad {
  font-weight: 700;
}
.card__descripcion {
  color: hsla(0, 0%, 100%, 0.6);
  padding-top: 0.8rem;
}

@media only screen and (min-width: 600px) {
  .card {
    min-height: 25vh;
    flex-direction: row;
  }
  .card__imagen {
    order: 2;
    flex-basis: 40%;
    border-radius: 0 1rem 1rem 0;
  }

  .card__imagen--mobile {
    display: none;
  }

  .card__imagen--desktop {
    display: block;
  }

  .card__informacion {
    flex-basis: 60%;
  }
  .card__titulo {
    text-align: left;
    font-size: 2rem;
  }

  .card__resumen {
    text-align: left;
    font-size: 1.2rem;
    line-height: 2.2rem;
  }

  .card__estadistica {
    font-size: 1.5rem;
    flex-direction: row;
    align-items: end;
  }

  .card__atributo {
    text-align: left;
  }
}

@media only screen and (min-width: 768px) {
  .card__informacion {
    padding: 4rem;
  }
  .card__titulo {
    font-size: 2.5rem;
  }

  .card__resumen {
    font-size: 1.3rem;
    line-height: 2.3rem;
  }
}

@media only screen and (min-width: 992px) {
  .card {
    width: 82%;
    min-height: 55vh;
  }

  .card__imagen {
    flex-basis: 45%;
  }

  .card__informacion {
    flex-basis: 55%;
    padding: 7.5rem;
  }

  .card__titulo {
    font-size: 3.5rem;
  }

  .card__resumen {
    font-size: 2rem;
    padding: 2rem 0;
    line-height: 3rem;
  }

  .card__estadistica {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .card {
    min-height: 50vh;
  }

  .card__titulo {
    font-size: 4rem;
  }

  .card__resumen {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}

@media only screen and (min-width: 1440px) {
  .card {
    min-height: 30vh;
  }
}
